body {
  background-color: linear-gradient(to bottom right, #230777, #0C0228) ;
  color: #FFFFFF ;
}

div {
    display: block;
}

header{
	top: 0;
    left: 0;
    right: 0;
}

.navbar {
	align-items: center;
    background-color: #282A35;
	overflow: hidden;
    width: 100%;
}

.navbar li {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar li:hover {
  background-color: #000000;
  color: black;
}

.navbar li.active {
  background-color: #04AA6D;
  color: white;
}