@font-face {
	font-family: Arvo;
	src: url(Arvo-Regular.ttf);
}

html {
	height: 100%;
	font-family: Arvo;
}

body {
	color: white;
	height: 100%;
	margin: 0;
	background: linear-gradient(167deg, rgba(10,0,38,1) 0%, rgba(28,36,105,1) 100%);
}

.navbar {
	position: relative;
	top: 15px;
	height:120px;
	float: center;
	width: 100%;
	text-align: center;
}

img {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5%;
	border-radius: 50%;
	width: 65px;
	height: auto;
}

.navbar a {
	padding: 1%;
	color: white;
	text-decoration: none;
	font-size: 50px;
	border-radius: 10px;
	transition: 1s;
}

.navbar a.active {
	background-color: #6942dd;
	color: #240f62;
}

.navbar a:hover {
	background-color: #240f62;
	color: #FFFFFF;
}

.content {
	color: rgba(10,0,38,1);
	border-radius:20px;
	position:absolute;
	right:30%;
	width: 37%;
	background: rgb(151,148,159);
	background: radial-gradient(circle, rgba(151,148,159,1) 0%, rgba(125,120,134,1) 100%, rgba(144,144,144,1) 100%);
	text-align:center;
	padding: 1.5%;
}
